<%= render "partials/qnanav" %>
<h1 class="text-center">Questions & Answers</h1>
<hr>
<%=form_tag(question_search_path,:method=>"get") do%>
<%= search_field_tag :q, params[:q], placeholder:"Search question", class: "form-control text-center" %>
<% end %>
<hr>
<div class="row">
<div class="col-12">
<% @questions.each do |q| %>
<h3><%= link_to q.question, question_path(q) %></h3>
<%= link_to "Answer", new_user_question_answer_path(user_id: current_user.id, question_id: q.id), class: "btn btn-danger" %><br>
<span class="nav-link disabled">Asked on: <%= q.created_at.to_fs(:long) %> by: <%= get_name(q.user_id) %></span><br>
<%end%>
</div>
</div>