<%= render "partials/feedform" %>

<div class="container mt-3 d-flex justify-content-center align-items-center flex-column">
<h3 class="text-center">Recent Updates</h3>
<div class="card mb-3" style="width:400px">
<% all_posts.each do |p| %>
        <div class="card-body">
            <h5 class="card-title"><%= get_name(p.user_id) %></h5>
            <p class="card-text"><%= p.location %></p>
            <p class="card-text"><%= p.text_post %></p>
            <% if p.feed_image.attached? %>
                <%= image_tag p.feed_image, style: "display: block; width: 200px;" %>
            <% end %>
            <p class="card-text badge bg-primary"><%= p.created_at.to_fs(:long) %></p>
        </div>
        <p class="text-center"><%= p.likes.count %> <%= (p.likes.count) == 1 ? 'Like' : 'Likes' %></p>
        <ul class="d-flex flex-row" style="list-style-type: none;">
            <li>
            <%= button_to 'Like', user_feed_likes_path(user_id: current_user.id, feed_id: p.id), method: :post, remote: true if !p.likes.where(feed_id: p.id, user_id: current_user.id).exists? %>
            <%= button_to 'Unlike', user_feed_like_path(user_id: current_user.id, feed_id: p.id, id: p.likes.ids), method: :delete, remote: true if p.likes.where(feed_id: p.id, user_id: current_user.id).exists? %>
            </li>
            &nbsp;
            <%= button_to 'Comment' %>
            </ul>
        <hr>
            <%end%>
    </div>
</div>
