<div class="mt-4 p-5 bg-primary text-white rounded">

  <div class="row">
    <div class="col-6">
        <%= image_tag @user.profile.avatar, style: "display: block; width: 200px;" if @user.profile.avatar.attached?  %>
        <%= image_tag "https://www.kindpng.com/picc/m/24-248253_user-profile-default-image-png-clipart-png-download.png", style: "display: block; width: 200px;" unless @user.profile.avatar.attached? %>
        <h1><%= @user.firstname %></h1>
        <h3><%= @user.lastname %></h3>
    </div>
    <div class="col-4">
        <h4>
            <%= @user.followers.count %> Followers
        </h4>
        <h4>
            <%= @user.following.count %> Following
        </h4>
    </div>
    <div class="col-2 m-auto">
        <span>
        <% if params[:id].to_i != current_user.id %>
            <%= button_to 'Follow', user_friendships_path(@user) ,class: "btn btn-danger" unless @rel.present? %>
            <%= button_to 'Unfollow', friendship_path(@rel.id), method: :delete, class: "btn btn-danger" if @rel.present? %>
        <%end%>
        </span>
    </div>
  <%= link_to "Edit Profile", edit_profile_path(current_user.id), class: "btn btn-warning text-white" if params[:id].to_i == current_user.id %>
  </div>

</div>
<br>
&nbsp;
<%= render "sections/profiletabs" if current_user.id == params[:id].to_i %>
<%= render "sections/summarycards" %>
<%= render "sections/groups" %>
<%= render "sections/posts" %>


