<h1 class="text-center">Edit Answer</h1>
<h3><%= @question.question %></h3>
<%= form_with model: @answer, method: :patch, url: user_question_answer_path do |f| %>
<%= f.label :answer, "Answer" %>
<%= f.text_area :answer, class: "form-control" %><br>
<%= f.hidden_field :user_id, value: current_user.id %>
<%= f.submit "Update Answer" %>
<%end%>